* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    min-height: 100rem;
    width: 100%;
    background-color: black;
}

.mother {
background-color: #1F2937;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
}

.all-links {
    display: flex;
    gap: 24px;
}

a {
   color:#e6e2e2;
   font-size: 18px;
}

.big-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 80%;
    max-width: 1200px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.main-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   max-width: 1200px;
}

.image {
    width: 45%;
    height: 230px;
    object-fit: cover;
    border-radius: 50px;
} 

.header-of-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.big-text {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.sign-up {
    display: flex;
    align-self: flex-start;
    margin-top: 1vh;
    padding: 10px 10%;
    border-radius: 10px;
    color: white;
    background-color: #3882f6;
    font-size: 20px;
    font-weight: 600;
}

.mother-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.big-header-2 {
    display: flex;
    justify-content: center;
}

.image-2{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #3882f6;

}

.image-2-holder {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.text-image-2 {
    width: 150px;
}

.header-2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 60px;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mother-3{
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.text-3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    width: 100%;
}

.quote-sayer {
    font-size: 24px;
    font-weight: 700;
}

.quote-sayer-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.inner-container {
    display: flex; 
    flex-direction: column;
    max-width: 800px;
}

.mother-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.header-4-container {
    background-color: #3882f6;
    display: flex;
    padding: 50px;
    width: 50%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.everything {
    color: white;
}

.header-4 {
    font-weight: bold;
    font-size: 20px;
}

.text-4 {
    color: rgb(233, 232, 232);
}

.click-button {
    box-sizing: border-box;
    background-color:#3882f6;
    color: rgb(214, 214, 214);
    padding: 5px 20px 5px 20px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    margin-right: 60px;
    font-size: 18px;
    font-weight: 700;
}